.quote-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(50%);

  & > div {
    border: 3px solid #184d7b;
    border-radius: 8px;
    padding: 1rem;

    & > blockquote {
      font-size: 1.5rem;
      font-weight: 500;
      font-style: italic;
    }

    & > p {
      font-size: 1.1rem;
    }
  }
}
